<!DOCTYPE html>
<html>
<head>
<title>Homepage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.13.0/css/ol.css" type="text/css">
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.13.0/build/ol.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
</head>
<body>


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - N A V B A R - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="#home" class="w3-bar-item w3-button">HOME</a>
    <a href="#about" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> MAP</a>
    <a href="#portfolio" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i> RESULTS</a>
    <a href="#contact" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> CONTACT</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">
      <i class="fa fa-search"></i>
    </a>
  </div>

  <!-- Navbar sur petits eccrans -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">MAP</a>
    <a href="#portfolio" class="w3-bar-item w3-button" onclick="toggleFunction()">RESULTS</a>
    <a href="#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
    <a href="#" class="w3-bar-item w3-button">SEARCH</a>
  </div>
</div>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - H O M E P A G E - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle w3-center" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-brown w3-xlarge w3-wide w3-animate-opacity"> APPLICATION MIAETNOA </span> </br></br>
    <button class="button-74 w3-animate-opacity" role="button">C'est parti</button>
  </div>
</div>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - P A R A M E T R E S - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<div id="appVue">
  <div class="mapTitle" id="about">
    <h1>Recherche</h1>
  </div>

  <div class="map-container1">

      <div class="forms">

        <div class="forms-noga">
          <p class="form-title-noga"> Code Noga </p>
          <div class="code-noga">
            <select id="select-code-noga" onchange="getSelectedNoga()" v-model="selected">
              <option disabled value="">Choisissez un code Noga</option>
            </select>
          </div>

          <div class="nogaBucket" id="nogaBucket"></div>
        </div>

        <div class="forms-naturejuridique">
          <p class="form-title-naturejuridique"> Nature juridique </p>
          <div class="nature-juridique">
            <select id="select-naturejuridique" onchange="getSelectedNatjur()" v-model="selected">
              <option disabled value="">Choisissez une nature ju.</option>
            </select>
          </div>

          <div class="natjurBucket" id="natjurBucket"></div>
        </div>

        <div class="forms-taille">
          <p class="form-title-taille"> Taille de l'entreprise </p>
          <div class="taille-entreprise">
            <select id="select-taille" onchange="getSelectedTaille()" v-model="selected">
              <option disabled value="">Choisissez une taille</option>
            </select>
          </div>

          <div class="tailleBucket" id="tailleBucket"></div>
        </div>
        
        <!-- ---------- Parametre non pris en compte pour le moment ---------- -->
        <!--
        <div class="forms-zone-exclusion">
          <p class="form-title-zoneexclu"> Zone d'exclusion </p>
          <div class="slidecontainer-zoneexclu">
            <div class="sliderinnercontainer-zoneexclu">
              <input type="range" min="10" max="2000" value="200" class="slider" id="range-zoneexclu">
            </div>
            <div class="slidervalue-zoneexclu">
              <span id="value-zoneexclu">200</span>
            </div>
          </div>

          <div class="liste-bars" id="listeBars">

          </div>
        </div>
        -->

        <div class="forms-geolocalisation">
          <p class="form-title-localisation"> Zone de recherche </p>
          <p class="title5-explain"> Cliquez sur le bouton "placer la zone de recherche" </br> puis cliqez sur la carte pour placer un point. </p>
          <!-- bouton qui déclenche la possiblite de placer un cercle sur la carte -->
          <button class="button-57" role="button" onclick="clickOnMapON()"><span class="text">Placer la zone de recherche</span><span>Cliquez sur la carte</span></button>
          <p class="title5-explain"> Ensuite vous pouvez redimensionner la zone à l'aide </br> du slider ci-dessous. </p>
          <div class="slidecontainer">
            <input type="range" min="1" max="10000" value="1000" class="slider" id="sliderCircleOnMap">
          </div>
        </div>
        <div class="boutondetest">
          <button class="deleteCircleButton" type="button" onclick="deleteCircleOnMap()">Supprimer la zone</button>
        </div>
        <div class="boutondetest">
          <button class="testbutton3" type="button" @click="afficherListeBars()">bars</button>
        </div>
        <div class="boutondetest">
          <button class="testbutton4" type="button" @click="envoieParametres()">test</button>
        </div>
        <div class="boutondetest">
          <button class="testbutton" type="button" onclick="getInfoEntreprise()">test2</button>
        </div>
      </div>
      <div tabindex = "1" id="map" class="map"></div>
      <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
      </div>
    </div>

    <p class="w3-large w3-center w3-padding-16">Une fois tous les champs complétés, vous pouvez lancer votre recherche</p>
    <div class="center-button">
      <button class="button-48" role="button"><span class="text">Lancer la recherche</span></button>
    </div>
</div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <!-- - - - - - - - - - - - - - - - - B A N D E R O L E - - - - - - - - - - - - - - - - - - - - - - - -->
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<div class="w3-row w3-center w3-dark-grey w3-padding-16">
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">Andi</span><br>
    Le mirifique
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">Zabraf</span><br>
    Le splendide
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">Tiago</span><br>
    L'incroyable
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">Steven</span><br>
    Le merveilleux
  </div>
</div>

<!-- deuxieme image parralax -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-black w3-wide">RESULTS</span>
  </div>
</div>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - R E S U L T A T S - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<div class="resultats" id="portfolio">

  <div class="resultats-title">
    <h1>Résultats</h1>
  </div>

  <div class="resultats-container">
    <div class="map2-container1">
      <div class="entreprise-resultats" id="liste-resultats"></div>
      <div tabindex = "1" id="map2" class="map2"></div>
    </div>
  </div>

  <div class="resulats-export">
    <button class="button-48" role="button" onclick="jsonToCsv()"><span class="text">Exporter les résultats</span></button>
  </div>

</div>

<!-- partie des images en full size-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<!-- troisieme image parralax contact -->
<div class="bgimg-3 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-black w3-wide">CONTACT</span>
  </div>
</div>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - F O O T E R - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>L'équipe GREP <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">5head</a></p>
</footer>

</body>

<script src="https://unpkg.com/vue@3"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="main.js"></script>

</html>
