<!DOCTYPE html>
<html>
<head>
<title>Homepage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.13.0/css/ol.css" type="text/css">
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.13.0/build/ol.js"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
</head>
<body>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - N A V B A R - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<div class="w3-top" id="navbar">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="#home" class="w3-bar-item w3-button miaBold">ACCUEIL</a>
    <a href="#mapScroll" class="w3-bar-item w3-button w3-hide-small miaBold"><i class="fa fa-user"></i> CARTE</a>
    <!--<a href="#contact" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> CONTACT</a>--->

  </div>

  <!-- Navbar sur petits eccrans -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <a href="#mapScroll" class="w3-bar-item w3-button" onclick="toggleFunction()">CARTE</a>
    <a href="#resultsScroll" class="w3-bar-item w3-button" onclick="toggleFunction()">RÉSULTATS</a>
  </div>
</div>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - H O M E P A G E - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <img id="logoMiaetnoa" src="miaetnoa\Logo_sans_slogan_mia_noa_gold-removebg-preview.png" alt="logo">
  <div class="w3-display-middle w3-center" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-xlarge w3-wide w3-animate-opacity miaFat" style="background-color: #96763b;" id="homepage-title"> CHERCHER MON EMPLACEMENT </span> </br></br>
    <a href="#mapScroll"><button class="button-74 w3-animate-opacity miaBold" role="button">C'est parti</button></a>
  </div>
</div>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - P A R A M E T R E S - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<div id="mapScroll"></div>
<div id="appVue">

  <div class="mapTitle" id="about">

    <div id="miaImg"></div>

    <div id="recherche">
      <h1 class="miaFat" id="title-recherche">Où pourrais-je installer mon prochain bar ?</h1>
    </div>

  </div>

  <input id="searchResults" onkeyup="searchEntreprises()" type="text" name="recherche" placeholder="Filtrer les résultats...">

  <button id="switchbutton" role="button" onclick="replaceResultsByParams()"><span class="text">&#129144;</span></button>

  <div class="map-container1">

      <div class="forms" id="formsid">

        <div class="forms-noga">
          <p class="form-title-noga"> Domaine d'activité </p>
          <div class="code-noga">
            <select id="select-code-noga" onchange="getSelectedNoga()">
              <option value="" disabled selected hidden></option>
            </select>
          </div>

          <div class="nogaBucket" id="nogaBucket"></div>
        </div>

        <div class="forms-naturejuridique">
          <p class="form-title-naturejuridique"> Nature juridique </p>
          <div class="nature-juridique">
            <select id="select-naturejuridique" onchange="getSelectedNatjur()" v-model="selected">
              <option disabled value="">Choisissez une nature ju.</option>
            </select>
          </div>

          <div class="natjurBucket" id="natjurBucket"></div>
        </div>

        <div class="forms-taille">
          <p class="form-title-taille"> Taille de l'entreprise </p>
          <div class="taille-entreprise">
            <select id="select-taille" onchange="getSelectedTaille()" v-model="selected">
              <option disabled value="">Choisissez une taille</option>
            </select>
          </div>

          <div class="tailleBucket" id="tailleBucket"></div>
        </div>

        <div class="forms-limits">
          <p>Limites (1-1000)</p>
          <div>
            <input type="number" id="limits-input" name="limits-input" min="1" max="1000">
          </div>
        </div>

        <div class="forms-geolocalisation">
          <p class="form-title-localisation"> Zone de recherche </p>

          <button class="button-57" role="button" onclick="clickOnMapON()"><span class="text">Cliquez pour placer la zone de recherche</span><span>Cliquez maintenant sur la carte</span></button>
          
          <p class="title5-explain"> Redimensionnement </p>

          <div class="slidecontainer" id="slidercontainerr">
            <input type="range" min="1" max="10000" value="1000" class="slider" id="sliderCircleOnMap">
          </div>

          <br>

          <input type="checkbox" id="distinct" name="distinct" value="distinct">
          <label for="distinct"> Ne pas afficher les doublons</label><br>

          <input type="checkbox" id="onlyMails" name="onlyMails" value="onlyMails">
          <label for="onlyMails"> Uniquement avec emails</label><br>

        </div>
      </div>

      <div class="entreprise-resultats miaReg" id="liste-resultats">
        
      </div>

      <div tabindex = "1" id="map" class="map">
        <div id="searchAdress">

          <input name="adress" id="adressValue" placeholder="Rechercher une adresse..." size="30">
          <button id="adressSearch" class="button-10" role="button" onclick="searchAdress(document.getElementById('adressValue').value)"><span class="text">Search</span></button>
          
        </div>
      </div>

      <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
      </div>

  </div>

  <div class="resulats-export" id="exportDiv">
    <button class="button-48" id="export" role="button" onclick="jsonToCsv()"><span class="text">Exporter les résultats</span></button>
  </div>

  <div class="center-button">
    <button class="button-48" role="button" @click="envoieParametres()"><span class="text">Je veux voir les emplacements !</span></button>
  </div>

</div>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - I M A G E S - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<!-- partie des images en full size-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - F O O T E R - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<footer class="w3-center w3-black w3-padding-64 w3-opacity footerImg">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right miaReg"></i>Vers le haut</a></br></br>
  <a href="https://www.miaetnoa.ch" target="_blank" class="w3-button w3-light-grey miaReg"><i class="fa w3-margin-right"></i>www.miaetnoa.ch</a>
  <p class="miaReg">Steven Vaglio, Tiago Gerard, Andi Ramiqi, Raphaël Lopes</p>
</footer>

</body>

<script src="https://unpkg.com/vue@3"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="main.js"></script>
<script type="text/javascript" src="Recherches.js"></script>
<script type="text/javascript" src="CalculDistance.js"></script>
<script type="text/javascript" src="ExportCSV.js"></script>

</html>
